html {
  font-size: 62.5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96rem;
    margin: 0 auto;
    
}

header h3{
    font-size: 3rem;
    font-weight: 100;
}

main{
    display: flex;
    background-color: #efefef;
}

.tilesList{
    display:grid;
    grid-template-columns: 20rem 20rem 20rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tilesList li{
    height:20rem;
    width: 20rem;
    color: white;
    font-size: 10rem;
    text-align: center;
}


.tileBlue{
    background-color: #72C3DC;
    border: .1rem inset #72C3DC;
}

.tileDarkerBlue{
    background-color: #2B8EAD;
    border: .1rem inset #2B8EAD;
}

.tileGrey{
   background-color: #6F98A8;
   border: .1rem inset #6F98A8;
}

.btn{
    display: block;
    width: 24rem;
    font-size: 2rem;
    background: #72C3DC;
    padding: 15px 50px;
    border: .1px solid #72C3DC;
    border-radius: .5rem;
    box-shadow: 0rem .5rem 0rem #2B8EAD;
    padding: 0.8rem 2rem;
    margin: 2rem 6rem 0 6rem;
    color: white;
}

footer{
    font-size: 1.5rem;
    color: #333;
    padding: 5px;
}

@media screen and (max-width: 500px){
    .container{
        width: 100%;
    }

    header{
        width: 100%;
        background-color: black;
        margin: 0 0 2rem 0;
    }
    

    header h3{
        font-size: 2rem;
        color: white;
        text-align: center;
    }

    main{
        flex-direction: column-reverse;
        align-self: auto;
        background: none;
    }

    .tiles{
        width: 30rem;
    }
    

    .tilesList{
        grid-template-columns: 90%;
        grid-template-rows: repeat(9, 3rem);
        justify-content: center;
    }
    
    .tilesList li{
        height: auto;
        width: 100%;
        font-size: 2rem;
        color:black;
    }

    .buttons{
        align-self: center;
    }

    .btn{
        margin: 0rem 0px 11px 2rem;
        display: inline;
        font-size: 1rem;
        width: auto;
    }
}